# Lists | Python for Data Science

In [2]:
s = {1, 2, 3, 4, 5}
print(s)
print(type(s))

{1, 2, 3, 4, 5}
<class 'set'>

In [3]:
s1 = {1, 2, 3, 3, 4, 4, 4, 5}

In [11]:
for i in s1: 
    print("Like, Share and Subscribe")

Like, Share and Subscribe
Like, Share and Subscribe
Like, Share and Subscribe
Like, Share and Subscribe
Like, Share and Subscribe

In [10]:
s1[2]

TypeError: 'set' object is not subscriptable

In [4]:
s1

{1, 2, 3, 4, 5}

In [8]:
s = {}
type(s)

dict

In [9]:
s = set()
type(s)

set

In [12]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

In [15]:
s3 = s1.union(s2)
s3 # superset

{1, 2, 3, 4, 5, 6, 7, 8}

In [16]:
s1.intersection(s2)

{4, 5}

In [18]:
s1.symmetric_difference(s2)

{1, 2, 3, 6, 7, 8}

In [ ]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

In [26]:
s4 = {2, 12, 23, 34}

In [27]:
s1.isdisjoint(s4)

False

In [22]:
s3

{1, 2, 3, 4, 5, 6, 7, 8}

In [23]:
s3.issuperset(s1)

True

In [28]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

In [29]:
s1.add(23)
print(s1)

{1, 2, 3, 4, 5, 23}

In [31]:
s1.update(s2)
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 23}

In [33]:
s1.remove(23)
print(s1)

KeyError: 23

In [35]:
s1

{1, 2, 3, 4, 5, 6, 7, 8}

In [37]:
s1.remove(8)
print(s1)

KeyError: 8

In [42]:
s1.discard(7)
print(s1)

{1, 2, 3, 4, 5, 6}

In [44]:
s1.pop()
print(s1)

{3, 4, 5, 6}

In [46]:
s1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}
s1.clear()
print(s1)

set()