# set | Python for Data Science

In [5]:
s = {1, 2, 3, 4, 5}
print(s)
print(type(s))

{1, 2, 3, 4, 5}
<class 'set'>

In [6]:
s1 = {1, 2, 3, 3, 4, 4, 4, 5}

In [7]:
for i in s1: 
    print("Like, Share and Subscribe") # set is iterable

Like, Share and Subscribe
Like, Share and Subscribe
Like, Share and Subscribe
Like, Share and Subscribe
Like, Share and Subscribe

In [8]:
s1[2] # because it is not ordered  like list and tuple

TypeError: 'set' object is not subscriptable

In [9]:
s1

{1, 2, 3, 4, 5}

### Creating empty set

In [10]:
s = {} # dict 
type(s)

dict

In [11]:
s = set() # set 
type(s)

set

In [12]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

In [13]:
s3 = s1.union(s2) # don't allow common elements to repeat 
s3 # superset

{1, 2, 3, 4, 5, 6, 7, 8}

In [14]:
s1.intersection(s2) #gives common elements

{4, 5}

In [15]:
s1.symmetric_difference(s2) #gives uncommon elements

{1, 2, 3, 6, 7, 8}

In [16]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

In [17]:
s4 = {2, 12, 23, 34}

In [18]:
s1.isdisjoint(s4)

False

In [19]:
s3

{1, 2, 3, 4, 5, 6, 7, 8}

In [20]:
s3.issuperset(s1)

True

In [56]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

In [57]:
s1.add(23) # for single element
print(s1)

{1, 2, 3, 4, 5, 23}

In [58]:
s1.update(s2) # for adding another set
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 23}

In [59]:
s1.remove(23)
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8}

In [60]:
s1

{1, 2, 3, 4, 5, 6, 7, 8}

In [61]:
s1.remove(8) 
print(s1)
s1.remove(8) # raise error if element not present

{1, 2, 3, 4, 5, 6, 7}

KeyError: 8

In [62]:
s1.discard(7) 
print(s1)
s1.discard(7) # don't show error even if there is no element

{1, 2, 3, 4, 5, 6}

In [63]:
s1.pop() # return deleted item

1

In [64]:
s1

{2, 3, 4, 5, 6}

In [65]:
s1.pop() # removes random
print(s1)
s1.pop()
print(s1)

{3, 4, 5, 6}
{4, 5, 6}

In [29]:
s1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}
s1.clear() # delete all 
print(s1)

set()